<header class="site-header" role="banner">

  <div class="wrapper">

    <a class="site-title" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>

    <nav class="site-nav">
    
    <!--
      <a href="{{ site.baseurl }}/archive.html" style="color:grey;">Archives</a>&nbsp;&nbsp;&nbsp;
    -->
    
      <a href="{{ site.baseurl }}/contact.html" style="color:grey;">Contact</a>&nbsp;&nbsp;&nbsp;
      <a href="{{ site.baseurl }}/feed.xml" style="color:grey;">RSS</a>
    </nav>

  </div>

</header>
