
<div class="pagination clearfix mb1 mt4"><br />
  <div class="footer-col footer-col-1"></div>
  <div class="footer-col footer-col-2">
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="pagination-item" href="{{ site.baseurl }}/">Newer posts</a>
      {% else %}
        <a class="pagination-item" href="{{ site.baseurl }}/page{{paginator.previous_page}}/">Newer posts</a>
      {% endif %}
    {% else %}
      <span class="pagination-item disabled">Newer posts</span>
    {% endif %}
  </div>
  <div class="footer-col footer-col-3">
    {% if paginator.next_page %}
      <a class="pagination-item" href="{{ site.baseurl }}/page{{paginator.next_page}}/">Older posts</a>
    {% else %}
      <span class="pagination-item disabled">Older posts</span>
    {% endif %}
  </div>
  <div class="footer-col footer-col-4"></div>
</div>
